<footer class="bg-black text-white py-5 border-top border-secondary">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <h4 class="fw-bold mb-3">FIT<span class="zone">ZONE</span></h4>
        <p class="text-muted">نحن هنا لمساعدتك في الوصول لأفضل نسخة من نفسك من خلال الرياضة والالتزام.</p>
      </div>
      
 
      

    </div>
    
    <hr class="my-4 bg-secondary">
    <div class="text-center text-muted small">
      &copy; 2026 FitZone. All rights reserved. Developed by Mahmoud.
    </div>
  </div>
</footer>