.zone{
    color: #ff4d00;
}
.text-accent {
    color: var(--accent);
}

.btn-accent {
  background-color: var(--accent);
  color: white;
  border-radius: 12px;
  transition: 0.3s;
}

.btn-accent:hover {
  background-color: #e64500;
  transform: scale(1.05);
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #000;
    padding: 1rem;
    border-radius: 15px; 
    margin-top: 10px;
    border: 1px solid #333;
  }
  
  .nav-link {
    padding: 10px 0;
    border-bottom: 1px solid #222;
  }
  
  .nav-item:last-child .nav-link {
    border-bottom: none;
  }
}
.links:hover{
    color:#ff4d00
}